* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka";
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    position: relative;
    background-color: #fffbfc;
    overflow: hidden;
}

.weather-app {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
    width: 600px;
    gap: 15px;
}

.weather-app.move-up {
    transform: translateY(-40vh);
}

.bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75px;
    width: 100%;
    z-index: 1;
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #ff4877;
}

.weather-card {
    position: absolute;
    width: 100%;
    top: calc(50% + 60px);
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #ff4877;
    opacity: 0;
    overflow: hidden;
    transform: translateY(100px);
    transition: opacity 1000ms ease, transform 1000ms ease;
}

.weather-card.show {
    opacity: 1;
    transform: translateY(0);
}

#logo {
    height: 50px;
    object-fit: cover;
    transform: translate(10px, -3px);
}

#city-input {
    position: relative;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 2px solid #ff85a4;
    transition: 300ms;
    caret-color: #ff4877;
    font-size: 1rem;
    color: #ff85a4;
}

#city-input::placeholder {
    color: #ff85a4;
    font-size: 1rem;
}

#city-input:focus::placeholder {
    color: transparent;
}

#city-input:focus {
    cursor: default;
}

#city-input:hover {
    border-bottom: 2px solid #ff4877;
}

#go-btn {
    position: relative;
    transform: translateX(-15px);
    width: 100px;
    border: none;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: rgb(255, 72, 119);
    border-radius: 50px;
    transition: 400ms;
}

#go-btn:hover {
    background-color: rgb(234, 68, 109);
}

#go-btn:active {
    transform: scale(0.9) translateX(-15px);
}


/*WEATHER-CARD*/
.titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.wTitle {
    font-size: 1.8rem;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #ff4877;
    width: 90%;
    border-bottom: 2px solid #ff85a4;
    letter-spacing: 2px;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.first-half {
    display: grid;
    grid-template-areas:
        "wType wType"
        "wIcon wTemp";
    height: 100%;
    width: 70%;
    border-right: 2px solid #ff85a4;
}

.wType {
    grid-area: wType;
    position: relative;
    color: #ff85a4;
    font-size: 1.4rem;
    letter-spacing: 10px;
    left: 20px;
}

.wIcon {
    grid-area: wIcon;
    height: 125px;
    position: relative;
    bottom: 10px;
    left: 20px;
}

.wTemp {
    grid-area: wTemp;
    font-size: 5rem;
    color: #ff4877;
    font-weight: 600;
}

.second-half {
    display: grid;
    grid-template-areas:
        "wPress wPress"
        "wHum wHum"
        "minTemp maxTemp";
    padding: 5px 10px 5px 30px;
    width: 30%;
    gap: 10px;
}

.wPress {
    grid-area: wPress;
    display: flex;
    color: #ff4877;
    font-size: 1.1rem;
}

.wHum {
    grid-area: wHum;
    display: flex;
    color: #ff4877;
    font-size: 1.1rem;
}

.minTemp {
    grid-area: minTemp;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4877;
    font-size: 1.1rem;
    position: relative;
    right: 10px;
}

.maxTemp {
    grid-area: maxTemp;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4877;
    font-size: 1.1rem;
    position: relative;
    right: 10px;
}

.wMinH {
    letter-spacing: 2px;
    font-weight: 500;
}

.wMaxH {
    letter-spacing: 2px;
    font-weight: 500;
}

@media (max-width: 750px) {
    .bar {
        width: 90%;
        height: 60px;
        gap: 20px;
    }

    .weather-card {
        width: 90%;
    }

    #logo {
        height: 30px;
    }

    #go-btn {
        width: 70px;
        height: 35px;
        font-size: 16px;
    }

    #city-input {
        font-size: 0.8rem;
        width: 100px;
    }

    #city-input::placeholder {
        font-size: 0.8rem;
    }

    .first-half {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #ff85a4;
    }

    .wIcon {
        height: 150px;
        object-fit: contain;
        position: relative;
        bottom: 0px;
        left: 0px;
    }

    .main-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .wType {
        left: 0px
    }

    .second-half {
        display: grid;
        grid-template-areas:
            "wPress wHum"
            "minTemp maxTemp";
        padding: 5px 0px 0px 10px;
        column-gap: 30px;
        width: 100%;
    }

    .minTemp {
        right: 0px;
    }

    .maxTemp {
        right: 0px;
    }
}