* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 75px;
    width: 600px;
    gap: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    transition: 300ms;
    border: 2px solid rgb(0, 0, 0)
}

#logo {
    height: 50px;
    transform: translate(10px, -3px);
}

#city-input {
    position: relative;
    height: 30px;
    cursor: pointer;
}

#go-btn {
    position: relative;
    transform: translateX(-15px);
    width: 100px;
    border: none;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 50px;
    transition: 400ms;
}

#go-btn:hover {
    transform: scale(1.1) translateX(-15px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.bar.move-up {
    transform: translateY(-400%);
}